#imgPlay {
	MARGIN: auto; WIDTH: 1000px; ZOOM: 1; POSITION: relative; HEIGHT: 475px
}
.bannerpic{ overflow:hidden	; width:1000px; height:475px;POSITION: relative;ZOOM: 1;}
#imgPlay .imgs IMG {
	BORDER-RIGHT: #dbdbdb 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #dbdbdb 0px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #dbdbdb 0px solid; WIDTH: 1000px; PADDING-TOP: 0px; BORDER-BOTTOM: #dbdbdb 0px solid
}
#imgPlay .imgs LI {
	FLOAT: left; POSITION: relative
}
#imgPlay .imgs {
	WIDTH: 5760px
}
#imgPlay .btn {
	RIGHT: 12px; OVERFLOW: hidden; WIDTH: 112px; BOTTOM: 12px; TEXT-INDENT: -9999px; POSITION: absolute; HEIGHT: 29px;
}
#imgPlay .prev {
	BACKGROUND: url(/image/sysimages/imgPlayer.png) no-repeat 0px 0px; LEFT: -118px; WIDTH: 90px; CURSOR: pointer; TEXT-INDENT: -9999px; POSITION: absolute; TOP: 150px; HEIGHT: 120px; z-index:100; display:none
}
#imgPlay .next {
	BACKGROUND: url(/image/sysimages/imgPlayer.png) no-repeat 0px 0px;  WIDTH: 90px; CURSOR: pointer; TEXT-INDENT: -9999px; POSITION: absolute; TOP: 150px; HEIGHT: 120px; z-index:101; display:none
}
#imgPlay .next {
	BACKGROUND-POSITION: right 0px; RIGHT: 1px; LEFT: 800px
}
#imgPlay .num {
	DISPLAY: inline; LEFT: 400px; POSITION: absolute; TOP: 275px; HEIGHT: 19px
}
#imgPlay .num SPAN {
	DISPLAY: inline-block; BACKGROUND: url(/image/sysimages/imgPlayer.png) no-repeat -5px -124px; MARGIN: 0px 2px; OVERFLOW: hidden; WIDTH: 14px; CURSOR: pointer; LINE-HEIGHT: 0; HEIGHT: 13px
}
#imgPlay .num SPAN.on {
	BACKGROUND-POSITION: -25px -124px
}
#imgPlay #numInner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 446px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; POSITION: absolute; TOP: 444px; TEXT-ALIGN: left
}
